body {
    background: black;
}

p {
    color: white;
    font-size: 20px;
}

iframe {
}

img {
    cursor: pointer;
}

input {
    background-color: black;
    color: white;
}

div.grid {
    position: relative;
    height: 150px;
    width: 150px;
    border: 1px clear;
    float: right;
    z-index: 1;
}

div.widgetcontainer {
    position: relative;
    cursor: pointer;
    border: 1px clear;
    float: left;
    z-index: 3;
}

    div.widgetcontainer:hover {
        /*z-index: 4;*/
    }

div.smallcontainer {
    height: 150px;
    width: 150px;
}

div.rectanglecontainer {
    height: 150px;
    width: 300px;
}

div.largecontainer {
    height: 300px;
    width: 300px;
}

div:hover {
    background-color: gray;
}

/*iframe.widget {
    z-index: 3;
}

    iframe.widget:hover {
        
    }*/

#widgetbar {
    position: absolute;
    top: 50px;
    left: -400px;
    transition: 0.5s;
    padding: 15px;
    width: 400px;
    background-color: #202020;
    border-radius: 0 5px 5px 0;
}

    #widgetbar:hover {
        left: 0;
        z-index: 2;
    }

#widgetlist li {
    list-style-type: none;
}

#calendar {
    position: relative;
    height: 300px;
    width: 250px;
    left: 25px;
}

#clock {
    position: relative;
    height: 200px;
    width: 250px;
    left: 25px;
}

#notepad {
    position: relative;
    height: 300px;
    width: 250px;
    left: 25px;
}

#youtube {
    position: relative;
    height: 200px;
    width: 250px;
    left: 25px;
}
