[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=MiraWebApp
Comment=
Exec= chromium-browser --start-fullscreen /home/pi/GitHub/Mira/Mira.html
StartupNotify=false
Terminal=true
Hidden=false

