[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=pirScreenSaverTest
Comment=
Exec= python3 /home/pi/GitHub/Mira/pirDisableScreensaver.py
StartupNotify=false
Terminal=true
Hidden=false

