[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Shutdown_Script
Comment=
Exec= python3 /home/pi/GitHub/Mira/shutdownScript.py
StartupNotify=false
Terminal=true
Hidden=false

